<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VMGAPISoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="VMGAPISoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://brandsms.vn:8018/VMGAPI.asmx" binding="basicHttpBinding"
                bindingConfiguration="VMGAPISoap" contract="ServiceReference1.VMGAPISoap"
                name="VMGAPISoap" />
            <endpoint address="http://brandsms.vn:8018/VMGAPI.asmx" binding="customBinding"
                bindingConfiguration="VMGAPISoap12" contract="ServiceReference1.VMGAPISoap"
                name="VMGAPISoap12" />
        </client>
    </system.serviceModel>
</configuration>
